.main {
    color: red;
    display: flex;
    position: relative;
    transform: translateZ(0);
}

.svg1 {
    position: absolute;
    top: 19px;
    left: 0;
    z-index: 1;
}

.svg2 {
    position: absolute;
    z-index: 2;
    transform-origin: 305px 268px;
}
