.main {
    color: red;
    display: flex;
    position: relative;
    transform: translateZ(0);
}

.svg1 {
    position: absolute;
    z-index: 1;
}

.svg2 {
    position: absolute;
    z-index: 2;
    transform-origin: 304px 247px;
}
