.main {
    display: flex;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.svg1 {
    position: absolute;
}

.svg2 {
    position: absolute;
    z-index: -1;
    transform-origin: 304px 247px;
}
